body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.gradient{
  background:linear-gradient(65deg,#ff9083,#ff6250);
  color:white !important;
}
.shadow{
  box-shadow: inset 10px 10px 50px gainsboro;
    border-radius: 30px;

}

.scroll{
  scroll-behavior: smooth;
}
